:root{
    --primary: #5DFDCB;
    --primary2: #45a29e;
    --dark: #333745;
    --dark2: #272838;
    --light: #c5c6c7;
    --light2: #c5c6c730;
    --white: #fff;
    --black: #000;
}
h1{
    color: var(--primary);
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 29%, rgba(39,40,56,1) 99%);
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: 150% 150%;
	-webkit-animation: move 3s ease-in-out infinite;
}

.content{
     position: relative;
     left:25%;
 } 
#chat{
position: relative;
top:20px;
width:160px;
height:7vh; 
 }

.messages{
    overflow-y: scroll;
    width: 50%;
    height:60vh;
    background-color: var(--dark2);
}
::placeholder {
    color: var(--dark);
  }
.messages::-webkit-scrollbar{
width:8px;
}

.messages::-webkit-scrollbar-thumb{
    
    color: #5DFDCB;
}
.messages::-webkit-scrollbar-button{
    background-color: transparent;
}
input {
    border-style: none;
    height: 5vh;
    border-radius: 2vh;
    width: 130px;
    background-color:var(--white);
}
button {
    background-color: #5DFDCB;
    border-style:none ;
}
#submit:hover{
    background-color: #a6f5dc;
}
#name{
    color: var(--primary);
}
#clear{
    position: absolute;
    top:30px;
    left:45%;
    background-color: rgb(221, 46, 46);
}
#clear:hover{
    background-color: rgb(228, 89, 89);
}
@-webkit-keyframes move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}